{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block contenido %}
    <br /><br />
    <center>
     <div class="row">
            <form method="post" action=".">{% csrf_token %}
                <div class="col-md-6">
                    <ul class="list-group" style="text-align:left;">
                        <li class="list-group-item"><strong>Producto: </strong>
                            <select name="pr" class="form-control" style="width: 50%;display:inline;">
                                <option>-----</option>
                                {% for p in products %}
                                    <option value="{{ p.id }}">{{ p.name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li class="list-group-item"><strong>Cantidad: </strong>
                            <input type="number" value="0" name="qty" required="required" min="1" class="form-control" style="width: 50%;display:inline;"/>
                        </li>
                        <li class="list-group-item"><strong>Almacén: </strong>
                            <select name="wr" class="form-control" style="width: 50%;display:inline;">
                                {% for w in warehouses %}
                                    <option value="{{ w.id }}" {% if forloop.counter0 == 0 %} selected{% endif %}>{{ w.name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <input type="submit" value="calcular" class="btn btn-success"/>
                </div>
            </form>
        
        <div style="clear:both;"></div>
        <table style="width:45%;float:left;margin:auto;">
            <tr style="border:1px solid black;">
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Lote</th>
                <th></th>
            </tr>
                <tr style="border:1px solid black;">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        </table>
        <table style="width:45%;float:left;margin-left:4%;">
            <tr style="border:1px solid black;">
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Lote</th>
                <th></th>
            </tr>
            <tr style="border:1px solid black;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
      </div>
    </center>
{% endblock contenido %}
