{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block contenido %}
    <br /><br />
    <center>
     <div class="row">
        <div style="width:100%;margin:auto;">
            <form method="post" action=".">{% csrf_token %}
                <div style="float:left;margin:1em;padding:1.8em;border:1px solid black;">
                    <select name="pr">
                            <option>-----</option>
                        {% for p in products %}
                            <option value="{{ p.product_id.id }}">{{ p.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="float:left;margin:1em;padding:1.7em;border:1px solid black;">
                    <input type="number" value="0" name="qty"/>
                </div>
                <div style="float:left;margin:1em;padding:2em;border:1px solid black;">
                    <select name="wr">
                            <option>-----</option>
                        {% for w in warehouses %}
                            <option value="{{ w.id }}">{{ w.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <input type="submit" value="calcular" class="btn btn-success"/>
            </form>
        </div>
        <div style="clear:both;"></div>
        <table style="width:45%;float:left;margin:auto;">
            <tr style="border:1px solid black;">
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Lote</th>
                <th></th>
            </tr>
            {% for p in product.product_lines %}
                <tr style="border:1px solid black;">
                    <td>{{ p.product_id.name }}</td>
                    <td>{{ p.product_qty }}</td>
                    <td>{{ p.product_id.code }}</td>
                </tr>
            {% endfor %}
        </table>
        <table style="width:45%;float:left;margin-left:4%;">
            <tr style="border:1px solid black;">
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Lote</th>
                <th></th>
            </tr>
            <tr style="border:1px solid black;">
                <td>{{ product.product_id.name }}</td>
                <td>{{ product.product_qty }}</td>
                <td>{{ product.product_id.code }}</td>
                <td></td>
            </tr>
        </table>
        <div style="clear:both;"></div>
        <div style="width:100%;margin:auto;">
            <div style="margin:2em;padding:2em;">
                {% if product.state == "draft" %}
                    <button>Abrir</button>
                {% endif %}
                {% if product.state == "confirmed" %}
                    <button>Procesar</button>
                {% endif %}
                {% if product.state == "in_production" %}
                    <button>Finalizar</button>
                {% endif %}

            </div>
        </div>
      </div>
    </center>
{% endblock contenido %}
