{% load i18n %}
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Algamar APP">
        <meta name="author" content="Alejandro Núñez Liz">


        <title>Algamar APP</title>

        <!-- Bootstrap core CSS -->
        
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            function cerrarse(){
            window.close()
            }
        </script> 
    </head>
    <body>
        <form method="post" action=".">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                
                <table class="table table-hover f" style="width:500px;">
                    <caption class="text-left">
                        <h3>Dividir producto: {{ product.product_id.name }}</h3>
                        <h4>Cantidad total: {{ product.product_qty }} </h4>
                    </caption>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                    </tr>
                    <tr>
                        <th>{{ product.product_id.name }} </th>
                        <th><input type="text" value="" name="unidades"/>  Unidad(es)</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary btn-default pull-left" style="margin-left:2em;" value="Dividir" />
            <input type=button value="Cancelar" onclick="cerrarse()"> 
        </div>
        </form>
    </body>
</html>
