{% load i18n %}
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Algamar APP">
        <meta name="author" content="Alejandro Núñez Liz">


        <title>Algamar APP</title>

        <!-- Bootstrap core CSS -->

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            function cerrarse(){
            window.close()
            }
            function addRow(tableID) {

                var table = document.getElementById(tableID);

                var rowCount = table.rows.length;
                var row = table.insertRow(rowCount);
                //Create array of options to be added
                //Create and append select list

                var cell1 = row.insertCell(0);
                var element1 = document.createElement("select");
                element1.id = "product";
                element1.name = "product";
                cell1.appendChild(element1);

                //~ var array=new array();

                //Create and append the options
                {% for a in products %}
                    var option = document.createElement("option");
                    option.value = "{{ a.id }}";
                    option.text = "{{ a.name }}";
                    element1.appendChild(option);
                {% endfor %}

                var cell2 = row.insertCell(1);
                var element2 = document.createElement("input");
                element2.type = "number";
                element2.name = "unidades";
                cell2.appendChild(element2);
            }
        </script>
    </head>
    <body>
        <form method="post" action=".">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">

                <table class="table table-hover f" style="width:500px;" id="dataTable">
                    <caption class="text-left">
                        <h3>Dividir producto: {{ move.product_id.name }}</h3>
                        <h4>Cantidad total: {{ move.product_qty }}</h4>
                    </caption>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                    </tr>

                </table>
                <INPUT type="button" value="Add Row" onclick="addRow('dataTable')" />
            </div>
        </div>
        <br /><br />
        <div class="row">
            <input type="submit" class="btn btn-primary btn-default pull-left" style="margin-left:2em;" value="Dividir" />
            <input type=button value="Cancelar" onclick="cerrarse()">
        </div>
        </form>
    </body>
</html>
