{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block contenido %}
     <div class="row">
        <a href="/crear_productos/" class="btn btn-primary btn-default pull-left" >Crear</a>
        <br /><br />
        {% if products_list %}
            <table class="table table-hover">
                <tr>
                    <th>Producción</th>
                    <th>Producto final</th>
                    <th>Fecha Inicio</th>
                    <th>Cantidad</th>
                    <th>Lote</th>
                    <th>Estado</th>
                </tr>
                {% for product in products_list %}
                    <tr>
                        <td><a href="/producto/{{product.id}}/">{{ product.name }}</a></td>
                        <td>{{ product.product_id.name }}</td>
                        <td>{{ product.date_planned }}</td>
                        <td>{{ product.product_qty }}</td>
                        <td></td>
                        <td>{{ product.state }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
      </div>
{% endblock contenido %}
