{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block contenido %}

     <div class="row">
        <div class="col-md-6">
            <ul class="list-group" style="text-align:left;">
                <li class="list-group-item"><strong>Producto:</strong> {{ product.product_id.name }}</li>
                <li class="list-group-item"><strong>Cantidad:</strong> {{ product.product_qty }} unidades 
                    {% if product.state == "confirmed" %}
                        <a href="/actualizar_cantidad/{{ product.id }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;" class="btn btn-warning" >Actualizar</a>
                    {% endif %}
                </li>
                <li class="list-group-item"><strong>Almacen:</strong> {{ product.warehouse_id.name }}</li>
            </ul>
        </div>
        <div class="col-md-6">
            <div style="float:left;margin-left:12em;padding:2em;">
                <a href="#" class="btn btn-success">Imprimir etiquetas</a>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if product.move_lines %}
                <table class="table table-hover f">
                    <caption class="text-left"><h3>Productos a consumir</h3></caption>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Lote</th>
                        <th colspan="3"></th>
                    </tr>
                    {% for p in product.move_lines %}
                        <tr>
                            <td>{{ p.product_id.name }}</td>
                            <td>{{ p.product_qty|floatformat:0 }}</td>
                            <td>{{ p.prodlot_id.name|default_if_none:"" }} {{ p.prodlot_id.lote.expiry_date }}</td>
                            <td>
                                <a href="/verstock/{{ p.id }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;">VS</a>
                            </td>
                            <td>
                                <a href="/desechar/{{ p.id }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;">DS</a>
                            </td>
                            <td>
                                <a href="/reciclar/{{ p.id }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;">RC</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif  %}
            {% if product.move_lines2 %}
                <table class="table table-hover f">
                    <caption class="text-left"><h3>Productos consumidos</h3></caption>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Lote</th>
                    </tr>
                    {% for p in product.move_lines2 %}
                        <tr>
                            <td>{{ p.product_id.name }}</td>
                            <td>{{ p.product_qty|floatformat:0 }}</td>
                            <td>{{ p.prodlot_id.name|default_if_none:"" }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if product.move_created_ids %}
                <table class="table table-hover">
                    <caption class="text-left"><h3>Productos a fabricar</h3></caption>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Lote</th>
                        <th></th>
                    </tr>
                    {% for p in product.move_created_ids %}
                    <tr>
                        <td>{{ p.product_id.name }}</td>
                        <td>{{ p.product_qty|floatformat:0 }}</td>
                        <td>{{ p.prodlot_id.name|default_if_none:"" }} {{ p.prodlot_id.expiry_date }}</td>
                        <td><a href="/dividir/{{ p.id }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;">DV</a></td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if product.move_created_ids2 %}
                <table class="table table-hover">
                    <caption class="text-left"><h3>Productos fabricados</h3></caption>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Lote</th>
                        <th></th>
                    </tr>
                    {% for p in product.move_created_ids2 %}
                    <tr>
                        <td>{{ p.product_id.name }}</td>
                        <td>{{ p.product_qty|floatformat:0 }}</td>
                        <td>{{ p.prodlot_id.name|default_if_none:"" }}</td>
                        <td><a href="/dividir/{{ p.id }}" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=400'); return false;">DV</a></td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if product.state == "draft" %}
            <a href="/abrir/{{ product.id }}" class="btn btn-primary btn-default pull-left" >Abrir</a>
        {% endif %}
        {% if product.state == "confirmed" %}
            <a href="/procesar/{{ product.id }}" class="btn btn-primary btn-default pull-left" >Procesar</a>
        {% endif %}

        {% if product.state == "in_production" or product.state == "ready" %}
            <a href="/finalizar/{{ product.id }}" class="btn btn-primary btn-default pull-left" >Finalizar</a>
        {% endif %}

    </div>
{% endblock contenido %}
