{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load mrp_webpanel_app_tag %}
{% block contenido %}
     <div class="row">
        <a href="/crear_productos/" class="btn btn-primary btn-default pull-left" >Crear</a>
        <br /><br />
        {% if products_list %}
            <table class="table table-hover">
                <tr>
                    <th>Producción</th>
                    <th>Producto final</th>
                    <th>Trabajando</th>
                    <th>Fecha Inicio</th>
                    <th>Cantidad</th>
                    <th>Lote</th>
                    <th>Estado</th>
                </tr>



                {% for product in products_list %}

                    <tr>
                        <td><a href="/producto/{{product.id}}/">{{ product.name }}</a></td>
                        <td>{{ product.product_id.name }}</td>
                        <td>
                            {% for usua in users_list %}
                                {% if usua.project|stringformat:"s" == product.id|stringformat:"s"%}
                                   {% if usua.code|stringformat:"s" == codigo|stringformat:"s" %}<b>{{ usua.name }},</b>{% else %}{{ usua.name }},{% endif %}
                                {% endif %}
                            {% endfor %}

                        </td>
                        <td>{{ product.date_planned|parse_date:"%Y-%m-%d %H:%M:%S"|date:"d/m/Y"  }}</td>
                        <td>{{ product.product_qty }}</td>
                        <td></td>
                        <td>{{ product.state|traduccion }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
      </div>
{% endblock contenido %}
