{% load i18n %}
{% load mrp_webpanel_app_tag %}
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Algamar APP">
        <meta name="author" content="Alejandro Núñez Liz">


        <title>Algamar APP</title>

        <!-- Bootstrap core CSS -->

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script language="JavaScript">
            function toggle(source) {
              checkboxes = document.getElementsByName('foo');
              for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = source.checked;
              }
            }
            function cerrarse(){
                window.close()
            }
        </script>
    </head>
    <body>
        <div class="row">
            <div class="col-md-6">
                <form method="post" action=".">{% csrf_token %}
                    <table class="table table-hover f" style="width:500px;">
                        <caption class="text-left"><h3>Stock del producto {{ product.product_id.name }}</h3></caption>
                        <tr>
                            <th>Lote</th>
                            <th>Cantidad</th>
                            <th>Fecha</th>
                            <th><input type="checkbox" onClick="toggle(this)" /> Todos</th>
                        </tr>
                        {% if lots %}
                        {% for lot in lots %}
                        <tr>
                            <th>{{ lot.name }}</th>
                            <th>{{ lot.stock_available }} {{ lot.product_id.uom_id.name }}</th>
                            <th>{{ lot.use_date|parse_date:"%Y-%m-%d %H:%M:%S"|date:"d/m/Y"  }}</th>
                            <th><input type="checkbox" name="foo{{ forloop.counter }}" value="{{ lot.id }}"></th>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                     <div class="row">
                        <input type="submit" class="btn btn-primary btn-default pull-left" style="margin-left:2em;" value="Enviar" />&nbsp;&nbsp;&nbsp;
                        <input type="button"class="btn btn-primary btn-default pull-left" value="Cancelar" onclick="cerrarse()">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
